
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
*.tmp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Gradle/Maven dir
/target/
build/

#IntelliJ
out/

#Eclipse
bin/

#Project metadata
.idea/
*.iml
